.form {
  width: 800px;
  background:

    radial-gradient(rgba(255, 255, 255, 0.002) 0, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.136) 13%, rgba(255, 255, 255, 0.277) 19%) 0 0,
    linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a;


}
