body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(95deg, rgba(114, 83, 150, 0.512) 0%, rgba(96, 58, 73, 0.742) 100%);


}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
